@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.eot');
	src: local('☺'), url('../fonts/Lato-Bold.woff') format('woff'), url('../fonts/Lato-Bold.ttf') format('truetype'), url('../fonts/Lato-Bold.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Medium.eot');
	src: local('☺'), url('../fonts/Lato-Medium.woff') format('woff'), url('../fonts/Lato-Medium.ttf') format('truetype'), url('../fonts/Lato-Medium.svg') format('svg');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.eot');
	src: local('☺'), url('../fonts/Lato-Regular.woff') format('woff'), url('../fonts/Lato-Regular.ttf') format('truetype'), url('../fonts/Lato-Regular.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@import '_nullstyle.scss';
//@import 'headerstyle.scss';
@import '_sidebarstyle.scss';

//tpl
%tpl_flex {
	display: flex;
    align-items: center;
}

%tpl_hover-link {
	&:hover,
	&:focus,
	&:active,
	&.active {
		color: #0666EB;
	}
}

%tpl_page__block {
	background: #FFFFFF;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
	border-radius: 5px;
	padding: 18px 22px;
	margin-bottom: 30px;
}

body {
	color: #222222;
	font-family: 'Lato', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	line-height: 16px;
	background-color: #F6F7FB;
}

a {
    transition-duration: 0.3s;
}

//main-page
.main-page {
	position: relative;
	height: 100vh;
	min-height: 100vh;
	margin-left: 290px;

	@media (max-width: 991px) {
		margin-left: 202px;
	}

	@media (max-width: 767px) {
		margin-left: 0px;
	}

	&.main-page_autorization {
		margin-left: 0;
	}
}

.main-page__row {
	position: relative;
	padding: 25px;

	@media (max-width: 575px) {
		padding: 16px 8px;
	}
}

.page__block {
	@extend %tpl_page__block;
}
.page__title {
	border-bottom: 1px solid #D9D9D9;
	margin-bottom: 16px;
}
.title-block {
	font-weight: 700;
	font-size: 20px;
	line-height: 16px;
	margin-bottom: 16px;
}

.title-block_header {
	color: #000000;
}
.page__breadcrumbs {
	.breadcrumbs-dashboard {
		@extend %tpl_flex;
		padding-left: 0px;
		margin-bottom: 0px;
	}
}

.breadcrumbs-dashboard__item {
	margin-left: 8px;
	cursor: default;

	&:first-child {
		margin-left: 0px;
	}

	&::before {
		content: "/";
		margin-right: 8px;
	}

	&:first-child::before {
		content: "";
		margin-right: 0px;
	}
}
.page__vidgets {
	cursor: default;
}

.card {
	@extend %tpl_page__block;
}

.card_red {
	background: linear-gradient(180deg, #F85978 0%, #F85071 100%);
}
.card__body {
	color: #fff;
}
.card__row {
	@extend %tpl_flex;
	justify-content: space-between;
}
.card__text {
	h6 {
		font-size: 16px;
		font-weight: 700;
	}
	h4 {
		font-size: 28px;
		font-weight: 700;
		margin-bottom: 0px;
	}
}
.card_blue {
	background: linear-gradient(180deg, #6DA6FD 0%, #7AAEFD 100%);
}

.card_green {
	background: linear-gradient(180deg, #62E1C3 0%, #4CDAB8 100%);
}
.page__table {
	@extend %tpl_page__block;
}
.table__header {
	h5 {
		font-weight: 700;
		font-size: 20px;
		line-height: 16px;
		margin-bottom: 30px;
	}
}
.table {
	thead {
		tr {
			th {
				line-height: 16px;
				color: rgba(34, 34, 34, 0.5);
			}
		}
	}
}

.table>:not(caption)>*>* {
    padding: 1.4rem 0.5rem;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table>:not(:first-child) {
    border-top: 1px solid currentColor;
}

.page__profile {
	@extend %tpl_page__block;
	input, textarea {
		height: 36px;
		background: #F6F7FB;
		border: 1px solid #D5D9DF;
		border-radius: 5px;
		padding-right: 26px;
	}
	textarea {
		height: auto;
		width: 100%;
	}
}

.form-db__col.col {
	position: relative;
}

.form-db__col.col[data-fill="1"]::after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    background: url(../images/icon-ok_green.svg);
    position: absolute;
    top: 9px;
    right: 18px;
    z-index: 100;
}

.profile {
	.nav-tabs {
		margin-bottom: 32px;
		.nav-link {
			font-weight: 700;
			font-size: 16px;
			line-height: 28px;
			border: none;
			padding-left: 0px;
			padding-right: 0px;
			margin-right: 32px;
			@extend %tpl_hover-link;
			color: #222;
			&.active {
				color:#222;
				border-bottom: 4px solid #0D6EFD;
			}
		}
	}
}

.profile__user-name {
	font-weight: 700;
	font-size: 24px;
	line-height: 20px;
	margin-bottom: 32px;
}

.form-db__label {
	font-size: 16px;
	line-height: 20px;
	color: rgba(34, 34, 34, 0.5);
	padding-left: 21px;

	@media (max-width: 1999px) {
		padding-left: 0;
	}
}

.form-db__col {
	margin-bottom: 16px;
    min-width: 174px;
    max-width: 420px;
}


.profile__managers,
.profile__filiation,
.profile__photo,
.profile__map {
	margin-top: 30px;
}

.photo__row {
	@extend %tpl_flex;
	flex-wrap: wrap;
}
.photo__item {
	position: relative;
	width: 104px;
	height: 74px;
	background: #F6F7FB;
	border: 1px solid #D5D9DF;
	border-radius: 5px;
	overflow: hidden;
	margin: 0 20px 30px 0;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
		object-position: center;
	}
}
.photo__del {
	position: absolute;
    top: 3px;
    right: 3px;
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 8px;
}

td.collapse.show {
	border-top: 5px solid white;
}